<div class="container mt-3 mx-auto" style="width: 600px;">
  <div class="row d-flex flex-nowrap justify-content-center align-items-center">
    <h1 class="mr-4">總金額：</h1>
    <h1 class="display-3">$ {{ totalAmount.amount }}</h1>
  </div>

  <div class="my-3 d-flex flex-nowrap justify-content-center">
    <div class="align-items-center col-3">
      <form action="/records/filter" method="GET">
        <select name="month" id="inputState" class="form-control" onchange="this.form.submit()">
          <option value="" selected>月份</option>
          <option {{#if (eq month '1')}} selected {{/if}} value="1">一月</option>
          <option {{#if (eq month '2')}} selected {{/if}} value="2">二月</option>
          <option {{#if (eq month '3')}} selected {{/if}} value="3">三月</option>
          <option {{#if (eq month '4')}} selected {{/if}} value="4">四月</option>
          <option {{#if (eq month '5')}} selected {{/if}} value="5">五月</option>
          <option {{#if (eq month '6')}} selected {{/if}} value="6">六月</option>
          <option {{#if (eq month '7')}} selected {{/if}} value="7">七月</option>
          <option {{#if (eq month '8')}} selected {{/if}} value="8">八月</option>
          <option {{#if (eq month '9')}} selected {{/if}} value="9">九月</option>
          <option {{#if (eq month '10')}} selected {{/if}} value="10">十月</option>
          <option {{#if (eq month '11')}} selected {{/if}} value="11">十一月</option>
          <option {{#if (eq month '12')}} selected {{/if}} value="12">十二月</option>
        </select>
      </div>
  
      <div class="align-items-center col-3">
        <select name="category" id="inputState" class="form-control" onchange="this.form.submit()">
          <option value="" selected>類別</option>
          <option {{#categoryIcon category '家居物業'}} selected {{/categoryIcon}} value="家居物業">家居物業</option>
          <option {{#categoryIcon category '交通出行'}} selected {{/categoryIcon}} value="交通出行">交通出行</option>
          <option {{#categoryIcon category '休閒娛樂'}} selected {{/categoryIcon}} value="休閒娛樂">休閒娛樂</option>
          <option {{#categoryIcon category '餐飲食品'}} selected {{/categoryIcon}} value="餐飲食品">餐飲食品</option>
          <option {{#categoryIcon category '其他'}} selected {{/categoryIcon}} value="其他">其他</option>
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{#each records}}
        <div class="col my-1">
            <div class="list-group-item mx-auto" style="background-color: hsla(34, 100%, 77%, 0.705); color: rgb(30, 137, 156);">
              <div class="row">
                <div class="col-2">
                  {{#categoryIcon this.category '家居物業'}} <i class="fas fa-home fa-3x"></i> {{/categoryIcon}}
                  {{#categoryIcon this.category '交通出行'}} <i class="fas fa-shuttle-van fa-3x"></i> {{/categoryIcon}}
                  {{#categoryIcon this.category '休閒娛樂'}} <i class="fas fa-grin-beam fa-3x"></i> {{/categoryIcon}}
                  {{#categoryIcon this.category '餐飲食品'}} <i class="fas fa-utensils fa-3x"></i> {{/categoryIcon}}
                  {{#categoryIcon this.category '其他'}} <i class="fas fa-pen fa-3x"></i> {{/categoryIcon}}
                </div>
                <div class="col-5">
                  <h2 class="font-weight-bold" name="name">{{ this.name }}</h2>
                  <p class="font-weight-bolder" name="date">{{ this.date }}</p> 
                </div>
                <div class="col-4">
                  <h2 class="amount">${{ this.amount }}</h2>
                  <p class="font-weight-bolder" name="merchant">{{ this.merchant }}</p>
                </div>
                  <div class="row">
                    <div class="btn-section">
                      <a class="btn btn-success mb-1" href="/records/{{ this._id }}/edit">修改</a>
                      <form action="/records/{{ this._id }}?_method=DELETE" method="POST"
                        onsubmit="return confirm('確定要刪除嗎？')">
                        <button class="btn btn-danger" type="submit">刪除</button>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="col-12 mt-3 mb-5" >
    <a class="form-control btn btn-warning" href="/records/new">新增支出</a>
  </div>
</div>